
@import "./reset.scss";

#app {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #202020;
  background-image: linear-gradient(45deg, #101010, #202020,#101010);
  transition: 0.2s;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#large-play {
  position: absolute;
  height: 100vh;
  width: 100%;
}

#large-play-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#large-play-container > * {
  font-size: 96px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s;
  opacity: 0;
  filter: drop-shadow(0 0 1px black);
}

#large-play-container > *:hover {
  color: rgba(255, 255, 255, 0.8);
}

#project-name {
  position: fixed;
  top: 66px;
  font-size: 18px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
  transition: 1s;
}

.project-title {
  padding-left: 72px;
  font-size: 22px;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.project-title > span {
  font-style: italic;
  font-size: 36px;
  letter-spacing: 0.1em;
}

.project-subtitle{
  padding-left: 144px;
  line-height: 36px;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.project-author{
  padding-left: 216px;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

#project-name a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  transition: 0.2s;
}

#project-name a:hover {
  color: rgba(255, 255, 255, 0.9);
}

@import "./background_color.scss";
@import "./personal_links.scss";
@import "./left_sidebar.scss";
@import "./right_sidebar.scss";
@import "./footer.scss";