
@import "./reset.scss";

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #1C1C1C;
    position: relative;
    transition: 0.2s;
}

#large-play {
    position: absolute;
    height: 100vh;
    width: 100%;
}

#large-play-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#large-play-container > * {
  font-size: 96px;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: 0.2s;
}

#large-play-container > *:hover {
  color: rgba(255, 255, 255, 0.6);
}

@import "./left_sidebar.scss";
@import "./right_sidebar.scss";
@import "./footer.scss";