
@import "./reset.scss";

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: #677381;
  background-image: linear-gradient(45deg, #2A272A, #677381,#A3CFCD);
  position: relative;
  transition: 0.2s;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

#large-play {
  position: absolute;
  height: 100vh;
  width: 100%;
}

#large-play-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#large-play-container > * {
  font-size: 96px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s;
  opacity: 0;
  filter: drop-shadow(0 0 1px black);
}

#large-play-container > *:hover {
  color: rgba(255, 255, 255, 0.8);
}

@import "./background_color.scss";
@import "./left_sidebar.scss";
@import "./right_sidebar.scss";
@import "./footer.scss";