
@import "./reset.scss";

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: black;
}

#file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 52px;
    font-size: 26px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.footer-audio-container {
    border-top: solid 2px rgba(0, 0, 0, 0.6);
    display: flex;
}

.play-pause {
    padding: 11px 20px;
    border-right: solid 2px rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.2);
    transition: 0.2s;
}

#play-pause {
    cursor: pointer;
}

#play-pause:hover {
    color: rgba(255, 255, 255, 0.6);
}

.file-input {
    padding: 18px 0;
    font-size: 14px;
    height: 52px;
    border-right: solid 2px rgba(0, 0, 0, 0.6);
}

.file-input > label {
    margin: 0 20px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.file-input > label:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s
}

#track-name {
    font-size: 14px;
    padding: 0 20px;
    font-weight: 600;
    padding-top: 17.5px;
    color: rgba(255, 255, 255, 0.4);
    border-right: solid 2px rgba(0, 0, 0, 0.6);
}

.playbar-container {
    flex: 1;
    position: relative;

}

#playbar {
    height: 8px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 25%;
    transition: 0.2s;
    cursor: pointer;
}

#playbar:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#playbar-progress {
    height: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 25%;
    transition: 0.2s;
    cursor: pointer;
}

#time-progress {
    width: 60px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.4);
    position: relative;
}

#time-progress > span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 24%;
}

#time-left {
    width: 60px;
    border-right: solid 2px rgba(0, 0, 0, 0.6);
    font-size: 11px;
    color: rgba(255, 255, 255, 0.4);
    position: relative;
}

#time-left > span {
    position: absolute;
    left: 0px;
    width: 60px;
    text-align: center;
    top: 24%;
}

.volume-container {
    width: 70px;
}