.background-color-header {
    padding-left: 46px;
    position: fixed;
    left: 0;
    top: 0;
    height: 36px;
    color: rgba(255, 255, 255, 0.6);
}

#background-color-header {
    transition: 1s;
}

.background-color-header-container {
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    border-right: 2px solid rgba(0, 0, 0, 0.6);
    border-left: 2px solid rgba(0, 0, 0, 0.6);
    display: flex;
    height: 36px;
}

.background-color-title-container {
    border-right: 2px solid rgba(0, 0, 0, 0.6);
    height: 36px;
}

.background-color-title {
    text-transform: uppercase;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    padding: 11px 10px 0;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0.4);
    height: 25px;
    transition: 0.2s;
}

.background-color-title:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#color-picker {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.color-picker-container {
    width: 36px;
    height: 36px;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.color-picker-container:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
}

#color-picker-label {
    position: absolute;
    left: 258px;
    margin: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #212121;
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
    border: solid 1px rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
}

#color-picker-label:hover  {
    border: solid 1px rgba(255, 255, 255, 1);
    opacity: 1;
}

#color-picker-label > i {
    position: absolute;
    left: 6px;
    top: 6px;
    font-size: 16px;
}