.background-color-header {
    padding-left: 46px;
    position: fixed;
    left: 0;
    top: 0;
    height: 36px;
    color: rgba(255, 255, 255, 0.6);
}

#background-color-header {
    transition: 1s;
}

.background-color-header-container {
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    border-right: 2px solid rgba(0, 0, 0, 0.6);
    border-left: 2px solid rgba(0, 0, 0, 0.6);
    display: flex;
    height: 36px;
}

.background-color-title-container {
    border-right: 2px solid rgba(0, 0, 0, 0.6);
    height: 36px;
}

.background-color-title {
    text-transform: uppercase;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    padding: 11px 10px 0;
    letter-spacing: 0.1em;
    background-color: rgba(0, 0, 0, 0.4);
    height: 25px;
    transition: 0.2s;
    position: relative;
}

.background-color-title:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.background-color-title:hover:after {
    text-transform: none;
    letter-spacing: normal;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    top: 42px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    content: "Set random background color gradient, or press [R]";
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    white-space: nowrap; 
    left: -2px;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
}

.rotate-background-container {
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
}

.rotate-background-container:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-right: 2px solid rgba(0, 0, 0, 0.1) !important;

}

.rotate-background-container >  * {
    display: inline-block;
    width: 18px;
    height: 18px;
    font-size: 18px;
    margin: 9px 8px 9px 8px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

.rotate-background-container >  *:hover {
    color: rgba(255, 255, 255, 1);

}

.rotate-left {
    margin-right: 6px !important;
}

.rotate-right {
    margin-left: 0px !important;
}

.rotate-left:hover:after {
    text-transform: none;
    letter-spacing: normal;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    top: 42px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    content: "Rotate background left 45°, or press [Q]";
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    left: 350px;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
    text-align: center;
    line-height: 16px;
    width: 115px;
}

.rotate-right:hover:after {
    text-transform: none;
    letter-spacing: normal;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    top: 42px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    content: "Rotate background right 45°, or press [E]";
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    left: 377px;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
    text-align: center;
    line-height: 16px;
    width: 120px;
}

#color-picker-1, #color-picker-2, #color-picker-3 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    left: 10px;
    top: 12px;
}

.color-picker-container-1, .color-picker-container-2 {
    width: 36px;
    height: 36px;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.4);
}

.color-picker-container-3 {
    width: 36px;
    height: 36px;
    transition: 0.2s;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.color-picker-container-1:hover, .color-picker-container-2:hover, .color-picker-container-3:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
}

.color-picker-container-1:hover, .color-picker-container-2:hover {
    border-right: solid 2px rgba(0, 0, 0, 0.1) !important;
}

#color-picker-label-1, #color-picker-label-2, #color-picker-label-3 {
    position: absolute;
    margin: 4px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
    border: solid 1px rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

#color-picker-label-1 {
    background-color: #101010;
}

#color-picker-label-2 {
    background-color: #202020;
}

#color-picker-label-3 {
    background-color: #404040;
}

#color-picker-label-1:hover, #color-picker-label-2:hover, #color-picker-label-3:hover  {
    border: solid 1px rgba(0, 0, 0, 1);
    opacity: 1;
}

#color-picker-label-1:hover:after, #color-picker-label-2:hover:after, #color-picker-label-3:hover:after {
    font-family: 'Open Sans', sans-serif; 
    text-transform: none;
    letter-spacing: normal;
    background: rgba(0,0,0,.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    top: 38px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    white-space: nowrap; 
    left: -6px;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
}

#color-picker-label-1:hover:after {
    content: "Color palette 1";
}

#color-picker-label-2:hover:after {
    content: "Color palette 2";
}

#color-picker-label-3:hover:after {
    content: "Color palette 3";
}

#color-picker-label-1 > i, #color-picker-label-2 > i, #color-picker-label-3 > i {
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 16px;
}