#file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

#footer-audio-player {
    transition: 1s;
}

.footer-audio-container {
    border-top: solid 2px rgba(0, 0, 0, 0.5);
    display: flex;
}

.play-pause {
    padding: 7px 20px 0 25px;
    border-right: solid 2px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
    font-size: 20px;
}

#play-pause {
    cursor: pointer;
}

#play-pause:hover {
    color: rgba(255, 255, 255, 0.9);
}

#play-pause:hover:after {
    font-family: 'Open Sans', sans-serif; 
    text-transform: none;
    letter-spacing: normal;
    background: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    bottom: 40px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 700 !important;
    content: "Toggle play/pause, or use [Spacebar]";
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    line-height: 16px;
    left: 42px;
    padding: 4px 8px;
    position: absolute;
    text-align: center;
    z-index: 100;
    width: 120px;
    transition: text-shadow .1s;
}

.file-input {
    padding: 8px 0 0;
    font-size: 12px;
    height: 36px;
    border-right: solid 2px rgba(0, 0, 0, 0.5);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input-container {
    margin: 0 20px;
    padding: 2px 6px ;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.7);
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
    
.file-input-container:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

.file-input-container > label:hover:after {
    text-transform: none;
    letter-spacing: normal;
    background: rgba(0,0,0,0.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    bottom: 40px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    content: "Audio format support may vary depending on broswer";
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 16px;
    left: 84px;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
    width: 160px;
    word-wrap: break-word;
    white-space: normal;
}

.file-input-container > label {
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

#track-name {
    font-size: 12px;
    padding: 11px 20px 0 20px;
    color: rgba(255, 255, 255, 0.7);
    border-right: solid 2px rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    max-width: 250px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

#track-name > span:hover {
    transition: 0.2s
}

#track-name > span:hover {
   color: rgba(255, 255, 255, 1); 
}

.playbar-container {
    flex: 1;
    position: relative;
}

#playbar {
    height: 8px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 30%;
    transition: 0.2s;
    z-index: 10;
    cursor: pointer;
}

#playbar-progress {
    height: 8px;
    margin: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    position: absolute;
    top: 30%;
    transition: 0.2s;
    cursor: pointer;
}

#playbar:hover ~ #playbar-progress { 
    background-color: rgba(255, 255, 255, 0.8);
}

#playbar:hover { 
    border: 1px solid rgba(0, 0, 0, 0.8);
}


.playbar-container:hover:after {
    text-transform: none;
    letter-spacing: normal;
    background: rgba(0,0,0,.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    bottom: 50px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    content: "Change audio position, or use [◀] & [▶] keys to adjust audio in 5 seconds increments";
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    text-align: center;
    line-height: 16px;
    right: 242px;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
    width: 260px;
}



#time-progress {
    width: 60px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#time-progress:hover {
    color: rgba(255, 255, 255, 1);
}

#time-progress > span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 26%;
}

#time-left {
    width: 60px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#time-left:hover {
    color: rgba(255, 255, 255, 1);
}

#time-left > span {
    position: absolute;
    left: 0px;
    width: 60px;
    text-align: center;
    top: 26%;
}

.volume-container {
    width: 5px;
}