#information-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 10vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    text-shadow: 1px 1px white;
    line-height: 20px;
}

.information-modal-container {
    background-color: rgba(255,255,255,0.8);
    color: black;
    margin: auto auto 10vh auto;
    padding: 20px;
    border: solid 2px rgba(0, 0, 0, 0.5);
    width: 80%;
    border-radius: 24px;
}

.center-modal-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    padding-right: 36px;
}

#close-modal {
    position: absolute;
    font-size: 36px;
    top: calc(10vh + 24px);
    right: 10vw;
    cursor: pointer;
    color: rgba(0,0,0,0.6);
    transition: 0.2s;
}

#close-modal:hover {
    color: rgba(0,0,0,0.8);
}

.modal-italicize {
    font-style: italic;
    font-weight: 600;
}

.modal-feature-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}

.center-modal {
    text-align: center;
}

.bold-modal {
    font-weight: 600;
}

.information-modal-container ul {
    list-style-type: circle;
}

.information-modal-container li {
    margin-left: 32px;
}

.information-modal-container a {
    font-weight: 600;
    color: rgb(0, 0, 96);
    transition: 0.2s;
}

.information-modal-container a:hover {
    color: 	rgb(0, 0, 192);
}