#personal-links {
    position: absolute;
    padding-right: 44px;
    font-size: 24px;
    right: 0px;
    transition: 1s;
}

#personal-links-container {
    display: inline-block;
    transition: 1s;
}

.personal-links i {
    padding: 7px 2px 0 4px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
    vertical-align: text-top;
}

.personal-links i:hover {
    color: rgba(255, 255, 255, 0.9);
}

#github-link {
    font-size: 25px;
}

#linkedin-link {
    font-size: 27px;
}

#angellist-link {
    font-size: 24px;
}

#portfolio-link {
    font-size: 24px;
}

#email-link {
    font-size: 27px;
}

#info-link {
    font-size: 24px;
    position: relative;
}

.personal-links a {
    position: relative;
}

#personal-links a:hover:after {
    background: rgba(0,0,0,.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    top: 39px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    content: attr(data);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    white-space: nowrap; 
    right: 0;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
    transition: 0.2s;
}

#info-link:hover:after {
    background: rgba(0,0,0,.6);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    top: 39px;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 12px;
    font-weight: 600;
    content: attr(data);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    white-space: nowrap; 
    right: 0;
    padding: 4px 8px;
    position: absolute;
    z-index: 100;
    transition: 0.2s;
}