#personal-links {
    position: absolute;
    padding-right: 44px;
    font-size: 24px;
    right: 0px;
    transition: 1s;
}

#personal-links-container {
    display: inline-block;
    transition: 1s;
}

.personal-links i {
    padding: 7px 2px 0 4px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
    transition: 0.2s;
    vertical-align: text-top;
}

.personal-links i:hover {
    color: rgba(255, 255, 255, 0.8);
}

#github-link {
    font-size: 24px;
}

#linkedin-link {
    font-size: 27px;
}

#angellist-link {
    font-size: 23px;
}

#portfolio-link {
    font-size: 24px;
}

#email-link {
    font-size: 27px;
}

#info-link {
    font-size: 24px;
}