.right-sidebar  {
    position: fixed;
    right: 0;
    bottom: 44px;
    width: 36px;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.6);
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

#right-sidebar {
    transition: 1s;
}

.right-sidebar-container {
    position: relative;
}

.colors-title {
    transform: rotate(-90deg);
    position: absolute;
    text-transform: uppercase;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
    padding: 10px 11px;
    letter-spacing: 0.1em;
    right: -28px;
    bottom: -63px;
    transition: 0.2s;
    cursor: pointer;
}

.colors-title:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);

}

.right-sidebar-container > div {
    height: 36px;
    width: 36px;
    transition: 0.2s;
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.right-sidebar-container > div > span {
    position: absolute;
    right: 41%;
    top: 28%;
}

.right-sidebar-container > div:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
    cursor: pointer;
}

.active-color {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3) !important;
}

.color-option-9 {
    margin-bottom: 91px;
}